p{
  background:rgb(133, 72, 32);
  border: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  text-align: left;
}

h1,h2{
  background: silver;
  border: 12px;
  width: 300px;
  text-align: center;
}

h3{
  background: silver;
  border: 12px;
  width: 150px;
  text-align: center;
}


a:link {color:blue}
a:visited {color:purple}
a:hover {color: violet}
a:active {color:blueviolet}
